@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F5F7F6;
  color: #435B47;
}
